:root {
  --color1: #000000; /*current and original black: #000000*/
  --color2: #ae3bfc; /*current and original purple: #ae3bfc*/
  --color3: #e449b4; /*current and original pink: #e449b4*/
  --color4: #a70605; /*current and original red: #a70605*/
  --color5: #6caef8; /*current and original blue: 6caef8*/
  --color6: #ffe47a; /*current and original yellow: ffe47a*/
}

@font-face { font-family: Rubik; src: url('../fonts/Rubik-Light.ttf'); }
@font-face { font-family: Rubik; font-weight: bold; src: url('../fonts/Rubik-Medium.ttf');}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  animation: fadeIn 2s;
  color: #fff;
  font-family: Rubik;
  font-size: 3vh;
  text-align: left;
  padding: 5px 10px 10px 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}

@keyframes textShine {
  0% { background-position: 25% 50%;}
  100% { background-position: 75% 50%;}
}

header {
  font-family: Rubik;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  flex-direction: column;
}

.divider {
    height: 3px;
    width: 80%;
    background: linear-gradient(
        to right,
        var(--color1) 15%,
        var(--color2) 25%,
        var(--color3) 35%,
        var(--color4) 50%,
        var(--color6) 70%,
        var(--color1) 85%);
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.fade-in {
  font-size: 150px;
  font-weight: bold;
  margin: 5px;
  background: linear-gradient(
    to right,
    var(--color1) 15%,
    var(--color2) 30%,
    var(--color3) 45%,
    var(--color4) 65%,
    var(--color6) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

content {
  font-family: Rubik;
  display: flex;
  background: linear-gradient(
    to right,
    #6caef8 15%,
    #91c2fa 30%,
    #b6d7fc 45%,
    #daebfd 65%,
    white 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.container-left {
  width: calc(50% - 1px);
  float: left;
  padding-top: 600px;
  border-right: 1px solid #fff;
}

#text-comenius {
  font-family: Rubik;
  display: flex;
  background: linear-gradient(
    to right,
    #B5AA9A 15%,
    #C8BFB3 30%,
    #DAD5CD 45%,
    #EDEAE6 65%,
    white 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.list-index {
  text-align: left;
}

.container-right {
  width: calc(50% - 1px);
  float: left;
}

.content {
  padding: 20px;
  text-align: center;

}

.logo {
  max-width: 350px;
  max-height: 350px;
}

.container-nav {
  width: 100%;
  margin: 0px auto 450px auto;
  text-align: center;
}

.button {
  font-family: Rubik;
  font-size: 24px;
  color: #fff;
  display: inline-block;
  width: 200px;
  padding: 15px;
  margin: 10px 3% 15px 3%;
  text-align: center;
  transition: ease-out 1s;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s, opacity 0.5s;
}

.button:hover {
  transition: ease-in 0.3s;
}

.profile {
  border: 1px solid var(--color4);
}

.profile:hover {
  background-color: rgba(167, 6, 5, 0.4);
  color: #fff;
}

.dashboard {
  border: 1px solid var(--color2);
}

.dashboard:hover {
  background-color: rgba(174, 59, 252, 0.4);
  color: #fff;
}

.faq {
  border: 1px solid var(--color3);
}

.faq:hover {
  background-color: rgba(228, 73, 180, 0.4);
  color: #fff;
}

.blog {
  border: 1px solid var(--color6);
}

.blog:hover {
  background-color: rgba(255, 228, 122, 0.4);
  color: #fff;
}

footer {
  background-color: #000;
  margin-top: 150px;
}

.footer-container {
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 1.5em;
  color: #fff;
  opacity: 0.9;
}

.header-sidepage {
  background-color: #fff;
  display: flex;
}

.header-text {
  font-size: 10vh;
  font-weight: bold;
  font-family: Rubik;
  text-align: center;
  margin: 5px;
  background: linear-gradient(
    to right,
    var(--color1) 15%,
    var(--color2) 30%,
    var(--color3) 45%,
    var(--color4) 65%,
    var(--color6) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.divider-sidepage {
  height: 3px;
  width: 100%;
  background: linear-gradient(
      to right,
      var(--color1) 15%,
      var(--color2) 25%,
      var(--color3) 35%,
      var(--color4) 50%,
      var(--color6) 70%,
      var(--color1) 85%);
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.container-sidenav {
  height: 90vh;
  width: 300px;
  margin-top: 23px;
  /* margin-bottom: 100px; */
  z-index: 0;
  left: 0;
  position: sticky;
  float: left;
}

.sidenav a {
  font-family: Rubik;
  font-size: 24px;
  color: #fff;
  display: inline-block;
  width: 200px;
  padding: 15px;
  margin: 50px 3% 0 3%;
  text-align: center;
  transition: ease-out 1s;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s, opacity 0.5s;
}

.sidenav a:hover {
  transition: ease-in 0.3s;
}

.sidenav-home {
  border: 1px solid #B5AA9A;
}

.sidenav-home:hover {
  background-color: rgba(181, 170, 154, 0.4);
  color: #fff;
}

.sidenav-profile {
  border: 1px solid var(--color4);
}

.sidenav-profile:hover {
  background-color: rgba(167, 6, 5, 0.4);
  color: #fff;
}

.sidenav-profile-active {
  border: 1px solid var(--color4);
  background-color: rgba(167, 6, 5, 0.4);
  cursor: default;
}

.sidenav-dashboard {
  border: 1px solid var(--color2);
}

.sidenav-dashboard:hover {
  background-color: rgba(174, 59, 252, 0.4);
  color: #fff;
}

.sidenav-dashboard-active {
  border: 1px solid var(--color2);
  background-color: rgba(174, 59, 252, 0.4);
  cursor: default;
}

.sidenav-faq {
  border: 1px solid var(--color3);
}

.sidenav-faq:hover {
  background-color: rgba(228, 73, 180, 0.4);
  color: #fff;
}

.sidenav-faq-active {
  border: 1px solid var(--color3);
  background-color: rgba(228, 73, 180, 0.4);
  cursor: default;
}

.sidenav-blog {
  border: 1px solid var(--color6);
}

.sidenav-blog:hover {
  background-color: rgba(255, 228, 122, 0.4);
  color: #fff;
}

.sidenav-blog-active {
  border: 1px solid var(--color6);
  background-color: rgba(255, 228, 122, 0.4);
  cursor: default;
}


#profile-header {
  font-family: Rubik;
  font-size: 8vh;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  font-family: Rubik;
  font-weight: normal;
  font-size: 3vh;
  color: #B5AA9A;
}

.filler-image {
  max-width: 300px;
  max-height: 300px;
  padding: 35px 35px 10px 35px;
  float: right;
}

.container-content {
  padding-top: 64px;
  font-family: Rubik;
  margin-left: 300px;
}

.music-i-like {
  color: #fff;
  font-family: Rubik;
  font-size: 3vh;
  text-align: left;
  padding: 0px 10px 10px 10px;
  margin-top: 0px;
  margin-right: 200px;
  margin-left: 16px;
}

table {
  width: 100%;
  font-family: Rubik;
  font-size: 2.5vh;
}

tr.title td {
  font-family: Rubik;
  font-size: 3.5vh;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

tr th {
  padding-bottom: 10px;
}

.spacer td {
  padding-top: 70px;
}

.footnote {
  font-style: italic;
  font-size: 16px;
}